*.class
.classpath


# Package Files #
*.war
*.ear

# Binary Files #
*.bin

# Jar Files #
*.jar

# binary folders #
app/bin/
app/google-play-services_lib/bin/

# gen folders #
app/gen
app/google-play-services_lib/gen

# Temporary Files #
*~





