*.class
.classpath


# Package Files #
*.war
*.ear

# Binary Files #
*.bin

# binary folder #
app/bin/

# Temporary Files #
*~

# binary play-services folder #
app/bin/google-play-services_lib/bin/R.txt



